html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  min-height: 100%;
  height: 100%;
  color: white;
}

h1, h2  {
  color: white;
  
  text-align: center;

  text-transform: uppercase;

  font-family: Roboto, cursive;
  letter-spacing: 1px;
}
.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;

}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
.listado-citas{
  width: 100%;
  margin: 0 15% ;
  margin-bottom: 5%;
}
.citas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
}
.cita {
  padding: 1.4rem;
  margin-top: 2em;
  width: 30%;
  box-sizing: border-box;
  min-height: 40px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  color: black;
}

.cita p {
  font-weight: bold;
  margin-bottom: .8rem;
}
.cita p span {
  font-weight: normal;

}


.alerta-error {
  color: white;
  padding: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-family:  Roboto, cursive;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(63, 68, 65, 0.5);
} 


.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background-image: url('./images/landscape.jpg');
  background-size: cover;
  

}

.contenido{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botones-principales{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.formulario{
  width: 40%;
}
.button{
  padding: 1em 0.5em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  min-width: 150px;
}
.button-clasic{
  background:none;
  border: 1px white solid;
  color: white;
}
.button-danger{
  background:none;
  border: 1px white solid;
  color: white;
}
.button-clasic:hover{
  background: rgba(255,255,255,0.1);
}
.button-danger:hover{
  background: rgba(144, 13, 13, 0.2);
}

@media (max-width: 1024px) {
  .principal{
    min-width: 100%;
    width:100%;
    background-image: url(./images/movil.jpg);
    background-size: cover;


  }

  .contenido{
    height: 50vh;
  }

  .button{
    height: 100%;
  }
  .listado-citas .button{
    height: 20%;
  }
  .listado-citas .cita{
    height: 20%;
    width: 49%;
  }
  .botones-principales{
    height: 50%;
  }
}

@media (max-width: 750px) {
  .principal{
    min-width: 100%;
    width:100%;

  }
  .contenido{
    height: 50vh;
  }

  .button{
    height: 40%;
    margin: 1em 0;
  }
  .botones-principales{
    flex-direction: column;
    height: 50%;
  }
  .listado-citas{
    width: 100%;
    margin: 0 5% ;
    flex-direction: row;
    margin-bottom: 5%;
  }
  .citas{
    flex-direction: column;
    width: 100%;
  }
  .listado-citas .cita {
    padding: 1.4rem;
    font-size: 1.1em;
    margin-top: 2em;
    width: 100%;
  }
  .listado-citas .button{
    height: 20%;
  }
  .listado-recuperados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
}